body {
    margin: 0;
    font-family: Arial;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a192f;
    padding: 15px 40px;
}

.logo {
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #00bcd4;
}


.container {
    text-align: center;
    margin-top: 60px;
}

input {
    width: 400px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #00bcd4;
    border: none;
    color: white;
    cursor: pointer;
}

/* RESULT BOX */
.result-box {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.safe {
    background: #d4edda;
    color: green;
}

.suspicious {
    background: #fff3cd;
    color: #856404;
}

.phishing {
    background: #f8d7da;
    color: red;
}