<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
<body>
    <div class="header">
    <h1>Admin Panel</h1>
</div>

<!-- STATS -->
<div class="stats">
    <div class="card">
        <h3>Total Users</h3>
        <p>{{ users }}</p>
    </div>

    <div class="card">
        <h3>Total Scans</h3>
        <p>{{ scans }}</p>
    </div>

    <div class="card">
        <h3>Threats</h3>
        <p>{{ threats }}</p>
    </div>
</div>

<!-- SEARCH -->
<div class="search">
    <input type="text" onkeyup="searchTable()" id="search" placeholder="Search logs...">
</div>

<!-- LOG TABLE -->
<table id="logTable">
    <tr>
        <th>User</th>
        <th>Type</th>
        <th>Input</th>
        <th>Result</th>
        <th>Date</th>
    </tr>

    {% for log in logs %}
    <tr>
        <td>{{ log[1] }}</td>
        <td>{{ log[2] }}</td>
        <td>{{ log[3] }}</td>
        <td>{{ log[4] }}</td>
        <td>{{ log[5] }}</td>
    </tr>
    {% endfor %}
</table>

<!-- FORMS -->
<div class="forms">

    <div class="box">
        <h3>Add Keyword</h3>
        <form action="/add-keyword" method="POST">
            <input type="text" name="keyword" placeholder="Keyword">
            <select name="category">
                <option>Phishing</option>
                <option>Spam</option>
            </select>
            <button>Add</button>
        </form>
    </div>

    <div class="box">
        <h3>Add Blacklist URL</h3>
        <form action="/add-url" method="POST">
            <input type="text" name="url" placeholder="URL">
            <button>Add</button>
        </form>
    </div>

</div>


<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>