<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" 
    href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>

    {% include 'navbar.html' %}

    <!-- TOP BAR -->
    <div class="topbar">
    <h2>Welcome, {{ username }}</h2>
    <a href="/logout">
        <button>Logout</button>
    </a>
</div>

    <!-- SUMMARY CARDS -->
    <div class="cards">
        <div class="card">
            <h3>Total Scans</h3>
            <h1>{{ total_scans }}</h1>
        </div>

        <div class="card">
            <h3>Phishing Found</h3>
            <h1>{{ phishing }}</h1>
        </div>

        <div class="card">
            <h3>Safe Results</h3>
            <h1>{{ safe }}</h1>
        </div>

        <div class="card">
            <h3>Suspicious</h3>
            <h1>{{ suspicious }}</h1>
        </div>
    </div>

    <!-- THREAT LEVEL -->
    <div class="progress-section">
        <h3>Weekly Threat Activity</h3>
        <div class="progress-bar">
            <div class="fill"></div>
        </div>
    </div>

    <!-- RECENT ACTIVITY -->
    <div class="table-section">
        <h3>Recent Activity</h3>
        <table>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Type</th>
                <th>Input</th>
                <th>Result</th>
                <th>Date</th>
            </tr>
            {% for log in logs %}
            <tr>
                <td>{{ log[0] }}</td>
                <td>{{ log[1] }}</td>
                <td>{{ log[2] }}</td>
                <td>{{ log[3] }}</td>
                <td>{{ log[4] }}</td>
                <td>{{ log[5] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- QUICK ACTIONS -->
    <div class="actions">
        <a href="/url_checker">Check New URL</a>
        <a href="/email-scanner">Scan New Email</a>
        <a href="/report">View Report</a>
    </div>



    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>