<!DOCTYPE html>
<html>
<head>
    <title>Email Phishing Scanner</title>
    <link rel="stylesheet" 
    href="{{ url_for('static', filename='css/email.css') }}">
</head>

<body>

    {% include 'navbar.html' %}

    <div class="container">

        <h1>Email Phishing Scanner</h1>

        <form method="POST" action="/scan-email" 
        id="emailForm">

            <input type="text" 
            name="sender" 
            placeholder="Sender Email" 
            required>

            <input type="text" 
            name="subject" 
            placeholder="Subject Line" 
            required>

            <textarea name="body" 
            placeholder="Email Body" 
            required></textarea>

            <button type="submit" id="scanBtn">
                Scan Email
            </button>

        </form>

        <!-- LOADING SPINNER -->
        <div id="spinner" style="display:none; 
        text-align:center; margin-top:20px;">
            <p>⏳ Scanning email please wait...</p>
        </div>

        <!-- RESULT BOX -->
        {% if result %}
        <div class="result-box">

            <h2>Verdict: 
                <span class="badge {{ result.result }}">
                    {{ result.result | upper }}
                </span>
            </h2>

            <h3>Risk Score: 
                <strong>{{ result.risk_score }}/10</strong>
            </h3>

            <h4>Red Flags Found:</h4>
            <ul>
                {% for flag in result.flags %}
                    <li>🚩 {{ flag }}</li>
                {% endfor %}
            </ul>

            <h4>Suspicious Keywords:</h4>
            <div class="highlights">
                {% for word in result.highlights %}
                    <span class="red-word">{{ word }}</span>
                {% endfor %}
            </div>

        </div>
        {% endif %}

    </div>

    <script src="{{ url_for('static', 
    filename='js/emailScanner.js') }}"></script>

</body>
</html>